<div class="row">
    <label class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-6">
        <input type="text" class="form-control-plaintext" value="{{detail.id}}">
    </div>    
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-6">
        <input type="text" class="form-control-plaintext" value="{{detail.label.title}}">
    </div>    
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-6">
        <input type="text" class="form-control-plaintext" value="{{detail.label.description}}">
    </div>    
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">Maker Line</label>
    <div class="col-sm-6">
        <input type="text" class="form-control-plaintext" value="{{detail.label.makerLine}}">
    </div>    
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">Notes</label>
    <div class="col-sm-6">
        <input type="text" class="form-control-plaintext" value="{{detail.label.notes}}">
    </div>    
</div>